@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

* {
  font-family: "Nunito Sans", sans-serif;
}

@tailwind utilities;

@layer components {
  .input {
    @apply focus:ring-cheese placeholder:text-charcoal text-charcoal ring-offset-cheese rounded-full border border-white bg-white px-4 py-2.5 text-sm ring-offset-1 transition-all duration-300 focus:ring focus:outline-none md:px-6 md:py-3;
  }
  .padding {
    @apply px-5 py-3;
  }
}

@theme {
  --color-*: initial;
  --color-white: ivory;

  /* primary accents */
  --color-red: #e63946;
  --color-chilli: #d72638;

  /* secondary accents */
  --color-green: #2a9d8f;
  --color-olive: #6a994e;

  /* complementary tones - used as background upon which other colors become more dominant. */
  --color-cheese: #f4a261;
  --color-crust: #e9c46a;

  /* dark contrasts */
  --color-maroon: #6a040f;
  --color-charcoal: #1d1d1d;
}
